.about-title {
  padding: 0 2rem 3rem 2rem;
  background-color: #fff;
  text-transform: uppercase;
  color: $darkblue;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.about-text {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  font-size: 1.6rem;
  color: $darkblue;
  line-height: 2.3rem;
}

.basic-information {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: $darkblue;
  font-size: 1.6rem;
  font-weight: bold;
  ul {
    margin-top: 2rem;
    li {
      text-transform: none;
      padding: 2rem 0;
      text-align: right;
      border-width: 100%;
      font-size: 1.4rem;
      border-bottom: 0.1rem solid rgba($color: #4e4e4e, $alpha: 0.2);
      font-weight: normal;
      strong {
        text-transform: uppercase;
        float: left;
        color: $gold;
      }
    }
  }
}

.service {
  margin-top: 1.5rem;
  text-transform: uppercase;
  color: $darkblue;
  font-size: 1.6rem;
  font-weight: bold;
  span {
    margin-left: 2rem;
  }
  ul {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 35rem;
    border: 1px solid rgba($color: #969696, $alpha: 0.3);
    border-radius: 0.2rem;
    padding: 1rem 0;
    li {
      padding: 0.5rem 0;
      i {
        font-size: 5rem;
        color: $gold;
      }
      span {
        text-transform: none;
        font-size: 1.4rem;
        font-weight: normal;
      }
    }
  }
}
