.contact-form {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: $darkblue;
  font-size: 1.6rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: $darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: all 600ms ease;
}

input[type="submit"]:hover {
  background-color: $gold;
}
