footer {
  background-color: $darkblue;
  font-family: $montserrat;
  width: 100%;
  min-height: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    font-size: 1.4rem;
  }
}
