header {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  .image-card {
    background: url("../../assets/image-card2.jpg") center no-repeat;
    width: 100%;
    height: 50vh;
    position: relative;
    .custom-shape-divider-bottom-1633085018 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      svg {
        position: relative;
        display: block;
        width: 100%;
        height: 2rem;
      }
      .shape-fill {
        fill: white;
      }
    }
  }

  .card-wrap {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    .title-card {
      font-family: $montserrat;
      text-align: center;
      padding: 5rem;
      margin-bottom: 2rem;
      h2 {
        text-transform: uppercase;
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
        color: $darkblue;
      }
      h3 {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: $gold;
        margin-bottom: 7rem;
      }
      .media-card {
        text-align: center;
        font-size: 2.3rem;
        i {
          padding: 0 1.5rem;
          color: $darkblue;
          transition: all 250ms ease-in;
          &:hover {
            color: $gold;
          }
        }
      }
    }
    .link-card {
      margin-top: 6rem;
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      a {
        font-family: $montserrat;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: $darkblue;
        font-weight: bold;
        transition: all 250ms ease-in;
        &:hover {
          color: $gold;
        }
      }
    }
  }
}
