/* Petite tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    background-color: white;
    width: 60rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 7.4rem auto 0 auto;
    position: relative;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    .image-card {
      background: url("../../assets/image-card2.jpg") center no-repeat;
      width: 100%;
      height: 50vh;
    }
  }
  .section {
    width: 60rem;
    margin: 2rem auto;
    min-height: 30vh;
    background-color: #fff;
    border-radius: 0.3rem;
    .about {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba(#8f8f8f, 0.2);
      .about-text,
      .basic-information {
        width: 30rem;
      }
      .about-text {
        border-right: 1px solid rgba(#8f8f8f, 0.2);
      }
    }
    .service {
      margin-top: 2rem;
    }
  }
  hr {
    display: none;
  }
}
/* Grande tablette & laptop */
@media screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
  body {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
    hr {
      display: none;
    }
    .desktop-nav {
      margin-left: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 0.2rem;
      height: 5rem;
      width: 5rem;
      z-index: 5555555;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 650ms ease-in-out;
      .menu-icons.open-desktop,
      .menu-icons.close-desktop {
        i {
          font-size: 2rem;
          cursor: pointer;
          color: $darkblue;
          transition: all 600ms ease;
          &:hover {
            color: $gold;
          }
        }
      }
      .menu-icons.close-desktop {
        display: none;
      }
      .nav-list-desktop {
        width: 7rem;
        height: 40vh;
        background-color: white;
        position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 100%;
        opacity: 0;
        transition: all 650ms ease-in-out;
        z-index: 2000;
        border-radius: 0.2rem;
        .nav-item {
          text-align: center;
          position: relative;
          height: 10vh;
          border-bottom: 1px solid rgba($darkblue, 0.2);
          &:last-child {
            border-bottom: none;
          }
          .nav-link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: $montserrat;
            font-size: 2rem;
            text-transform: uppercase;
            color: $darkblue;
            transition: 350ms ease-in-out;
            display: flex;
            flex-direction: column;
            &:hover {
              color: $gold;
            }
            span {
              margin-top: 0.5rem;
              text-transform: initial;
              font-size: 1.1rem;
            }
          }
        }
      }
      .nav-list-desktop.active-desktop {
        opacity: 1;
        bottom: -40.5vh;
      }
    }
    .desktop-nav.active-desktop-icon {
      top: 25%;
      transform: translateY(-25%);
      .open-desktop {
        display: none;
      }
      .close-desktop {
        display: flex;
      }
    }
    header {
      padding: 0;
      margin: 0 0 0 12rem;
      width: 40rem;
      height: 100vh;
      border: none;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      -webkit-box-shadow: 0px 0px 4px 0px #575757;
      box-shadow: 0px 0px 4px 0px #575757;
      z-index: 11;
      .image-card {
        background: url("../../assets/image-card2.jpg") center no-repeat;
        width: 100%;
        height: 50vh;
        border: none;
      }
    }
    .section {
      position: absolute;
      left: 52rem;
      display: flex;
      width: 65rem;
      height: 95vh;
      padding: 0;
      margin: 0;
      transition: all 650ms ease-out;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 1rem;
        border-radius: 0.2rem;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0.2rem;
      }
      &::-webkit-scrollbar-thumb {
        background: $darkblue;
        border-radius: 0.5rem;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 0.5rem;
      }
    }
  }

  .section.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 8;
  }

  .section.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-70%, 0, 0);
      transform: translate3d(-70%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-70%, 0, 0);
      transform: translate3d(-70%, 0, 0);
    }
  }
  footer {
    display: none;
  }
}
