.mobile-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(82, 82, 82, 0.3);
  background-color: #fff;
  color: $darkblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2222;
  .nav-brand {
    border: 0.3rem solid $darkblue;
    border-radius: 0.2rem;
    padding: 0.5rem;
    a {
      font-size: 3rem;
      text-transform: uppercase;
      font-family: $montserrat;
      font-weight: bold;
      color: $darkblue;
      transition: all 600ms ease;
      &:hover {
        color: $gold;
      }
    }
  }
  .menu-icons {
    i {
      font-size: 3rem;
      cursor: pointer;
      color: $darkblue;
      transition: all 600ms ease;
      &:hover {
        color: $gold;
      }
    }
  }
  .close {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    i {
      color: white;
    }
  }

  .nav-list {
    width: 100%;
    height: 100vh;
    background-color: rgba($darkblue, 0.9);
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 650ms ease-in-out;
    z-index: 2000;
    .nav-item {
      margin: 2rem 0;
      .nav-link {
        font-family: $montserrat;
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
        transition: 350ms ease-in-out;
        &:hover {
          color: $gold;
        }
      }
    }
  }
  .nav-list.active {
    right: 0;
  }
}
.desktop-nav {
  display: none;
}
