.resume-title {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: $darkblue;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.experiences,
.formations,
.competences,
.languages {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: $darkblue;
  font-size: 1.6rem;
  font-weight: bold;
  .skills-title {
    margin-top: 2rem;
    font-weight: normal;
    font-size: 1.3rem;
    text-align: center;
  }
  .container-skills {
    width: 100%;
    background-color: #ddd;
    border-radius: 0.2rem;
    .skills {
      text-align: right;
      color: white;
      font-size: 1.3rem;
      font-weight: normal;
      padding: 0.3rem 0.1rem;
      background-color: $gold;
      &.html,
      &.css {
        width: 80%;
        border-radius: 0.2rem;
      }
      &.english {
        width: 70%;
        border-radius: 0.2rem;
      }
      &.symfony,
      &.php,
      &.javascript,
      &.chinese {
        width: 60%;
        border-radius: 0.2rem;
      }
    }
  }
  .experience-card {
    margin-top: 2rem;
    text-align: center;
    border: 1px solid rgba($color: #969696, $alpha: 0.3);
    border-radius: 0.2rem;
    padding: 1rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0.1rem;
      height: 2rem;
      background-color: $darkblue;
      opacity: 0.3;
      bottom: -2rem;
    }
    &:last-child::after {
      display: none;
    }
    li {
      padding: 1rem 0;
      strong {
        color: $gold;
      }
      span {
        text-transform: none;
        font-size: 1.4rem;
        font-weight: normal;
      }
      .xp-date {
        font-size: 1.2rem;
        border-radius: 1rem;
        border: 0.1rem solid rgba(#444444, 0.3);
        padding: 0.5rem;
      }
    }
  }
}
