* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: $darkblue;
  position: relative;
  .background {
    /**background: -webkit-linear-gradient(
      top left,
      $darkblue 0%,
      $lightblue 100%
    );
    background: -moz-linear-gradient(top left, $darkblue 0%, $lightblue 100%);
    background: -o-linear-gradient(top left, $darkblue 0%, $lightblue 100%);
    background: linear-gradient(to bottom right, $darkblue 0%, $lightblue 100%);*/
    background-color: rgb(49, 49, 49);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .bubbles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      li {
        position: absolute;
        list-style: none;
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgba($color: #9c9c9c, $alpha: 0.1);
        bottom: -160px;
        border-radius: 50%;
        -webkit-animation: square 25s infinite;
        animation: square 25s infinite;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        &:nth-child(1) {
          left: 10%;
        }
        &:nth-child(2) {
          left: 20%;
          width: 8rem;
          height: 8rem;
          animation-delay: 2s;
          animation-duration: 17s;
        }
        &:nth-child(3) {
          left: 25%;
          animation-delay: 4s;
        }
        &:nth-child(4) {
          left: 40%;
          width: 1rem;
          height: 1rem;
          border-radius: 0;
          animation-duration: 22s;
          background-color: rgba($lightblue, 0.1);
        }
        &:nth-child(5) {
          left: 68%;
          background-color: rgba($lightblue, 0.1);
        }
        &:nth-child(6) {
          left: 80%;
          animation-delay: 3s;
          background: rgba($color: #000000, $alpha: 0);
          width: 0;
          height: 0;
          border-radius: 0;
          border: 0 solid transparent;
          border-right-width: 1rem;
          border-left-width: 1rem;
          border-bottom: 1rem solid rgba(white, 0.1);
        }

        &:nth-child(7) {
          left: 35%;
          width: 14rem;
          height: 14rem;
          animation-delay: 7s;
        }
        &:nth-child(8) {
          left: 55%;
          width: 2rem;
          height: 2rem;
          animation-delay: 15s;
          animation-duration: 33s;
        }
        &:nth-child(9) {
          left: 28%;
          width: 1rem;
          height: 1rem;
          animation-delay: 2s;
          animation-duration: 40s;
          background-color: rgba($lightblue, 0.1);
        }
        &:nth-child(10) {
          left: -8%;
          width: 16rem;
          height: 16rem;
          animation-delay: 11s;
          background-color: rgba($gold, 0.1);
        }
        &:nth-child(11) {
          left: 95%;
          width: 10rem;
          height: 10rem;
          animation-delay: 5s;
          background-color: rgba($gold, 0.1);
        }
        &:nth-child(12) {
          left: 75%;
          width: 10rem;
          height: 10rem;
          animation-delay: 8s;
          animation-duration: 30s;
          background-color: rgba($lightblue, 0.1);
        }
        &:nth-child(13) {
          left: 65%;
          width: 8rem;
          height: 8rem;
          animation-delay: 10s;
          animation-duration: 10s;
          background-color: rgba($gold, 0.1);
        }
        &:nth-child(14) {
          left: 70%;
          width: 13rem;
          height: 13rem;
          border-radius: 0;
          animation-delay: 1s;
          animation-duration: 20s;
          background-color: rgba(white, 0.1);
        }
        &:nth-child(15) {
          left: 85%;
          border-radius: 0;
          width: 5rem;
          height: 10rem;
          animation-delay: 5s;
          animation-duration: 10s;
          background-color: rgba($darkblue, 0.1);
        }
      }
    }

    @-webkit-keyframes square {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: scaleY(0.95) scaleX(1.05);
      }
      48% {
        transform: scaleY(1.1) scaleX(0.9);
      }
      68% {
        transform: scaleY(0.98) scaleX(1.02);
      }
      80% {
        transform: scaleY(1.02) scaleX(0.98);
      }
      100% {
        transform: translateY(-100vh) rotate(400deg);
      }
    }
    @keyframes square {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: scaleY(0.95) scaleX(1.05);
      }
      48% {
        transform: scaleY(1.1) scaleX(0.9);
      }
      68% {
        transform: scaleY(0.98) scaleX(1.02);
      }
      80% {
        transform: scaleY(1.02) scaleX(0.98);
      }
      100% {
        transform: translateY(-100vh) rotate(400deg);
      }
    }
  }
  hr {
    border: none;
    height: 0.2rem;
    background: linear-gradient(90deg, white 15%, $gold 50%, white 85%);
    -webkit-animation: grow 10s linear;
    animation: grow 10s linear;
    border-radius: 50px;
    width: 100%;
    @keyframes grow {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.section {
  font-family: $montserrat;
  background-color: #fff;
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  .container {
    margin: 3rem 0;
    .first-word {
      text-transform: uppercase;
      color: $gold;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
