.works-title {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: $darkblue;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.works {
  margin-top: 1.5rem;
  text-transform: uppercase;
  color: $darkblue;
  font-size: 1.6rem;
  font-weight: bold;
  .work-card {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 35rem;
    border: 1px solid rgba($color: #969696, $alpha: 0.3);
    border-radius: 0.2rem;
    padding: 1rem 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0.1rem;
      height: 2rem;
      background-color: $darkblue;
      opacity: 0.3;
      bottom: -2rem;
    }
    &:last-child::after {
      display: none;
    }
    img {
      width: 30rem;
      height: auto;
    }
    li {
      padding: 1rem 0;
      strong {
        a {
          color: $gold;
        }
      }
    }
  }
}
