/** GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");
/** import styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: #314755;
  position: relative;
}

body .background {
  /**background: -webkit-linear-gradient(
      top left,
      $darkblue 0%,
      $lightblue 100%
    );
    background: -moz-linear-gradient(top left, $darkblue 0%, $lightblue 100%);
    background: -o-linear-gradient(top left, $darkblue 0%, $lightblue 100%);
    background: linear-gradient(to bottom right, $darkblue 0%, $lightblue 100%);*/
  background-color: #313131;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body .background .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body .background .bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(156, 156, 156, 0.1);
  bottom: -160px;
  border-radius: 50%;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

body .background .bubbles li:nth-child(1) {
  left: 10%;
}

body .background .bubbles li:nth-child(2) {
  left: 20%;
  width: 8rem;
  height: 8rem;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}

body .background .bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

body .background .bubbles li:nth-child(4) {
  left: 40%;
  width: 1rem;
  height: 1rem;
  border-radius: 0;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(38, 160, 218, 0.1);
}

body .background .bubbles li:nth-child(5) {
  left: 68%;
  background-color: rgba(38, 160, 218, 0.1);
}

body .background .bubbles li:nth-child(6) {
  left: 80%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background: rgba(0, 0, 0, 0);
  width: 0;
  height: 0;
  border-radius: 0;
  border: 0 solid transparent;
  border-right-width: 1rem;
  border-left-width: 1rem;
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}

body .background .bubbles li:nth-child(7) {
  left: 35%;
  width: 14rem;
  height: 14rem;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

body .background .bubbles li:nth-child(8) {
  left: 55%;
  width: 2rem;
  height: 2rem;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 33s;
          animation-duration: 33s;
}

body .background .bubbles li:nth-child(9) {
  left: 28%;
  width: 1rem;
  height: 1rem;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(38, 160, 218, 0.1);
}

body .background .bubbles li:nth-child(10) {
  left: -8%;
  width: 16rem;
  height: 16rem;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
  background-color: rgba(244, 164, 96, 0.1);
}

body .background .bubbles li:nth-child(11) {
  left: 95%;
  width: 10rem;
  height: 10rem;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  background-color: rgba(244, 164, 96, 0.1);
}

body .background .bubbles li:nth-child(12) {
  left: 75%;
  width: 10rem;
  height: 10rem;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  background-color: rgba(38, 160, 218, 0.1);
}

body .background .bubbles li:nth-child(13) {
  left: 65%;
  width: 8rem;
  height: 8rem;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  background-color: rgba(244, 164, 96, 0.1);
}

body .background .bubbles li:nth-child(14) {
  left: 70%;
  width: 13rem;
  height: 13rem;
  border-radius: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  background-color: rgba(255, 255, 255, 0.1);
}

body .background .bubbles li:nth-child(15) {
  left: 85%;
  border-radius: 0;
  width: 5rem;
  height: 10rem;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  background-color: rgba(49, 71, 85, 0.1);
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
            transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
            transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
            transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
            transform: scaleY(1.02) scaleX(0.98);
  }
  100% {
    -webkit-transform: translateY(-100vh) rotate(400deg);
            transform: translateY(-100vh) rotate(400deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
            transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
            transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
            transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
            transform: scaleY(1.02) scaleX(0.98);
  }
  100% {
    -webkit-transform: translateY(-100vh) rotate(400deg);
            transform: translateY(-100vh) rotate(400deg);
  }
}

body hr {
  border: none;
  height: 0.2rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, white), color-stop(50%, sandybrown), color-stop(85%, white));
  background: linear-gradient(90deg, white 15%, sandybrown 50%, white 85%);
  -webkit-animation: grow 10s linear;
  animation: grow 10s linear;
  border-radius: 50px;
  width: 100%;
}

@-webkit-keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.section {
  font-family: "montserrat", sans-serif;
  background-color: #fff;
  width: 100%;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.section .container {
  margin: 3rem 0;
}

.section .container .first-word {
  text-transform: uppercase;
  color: sandybrown;
  font-size: 2rem;
  font-weight: bold;
}

.mobile-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(82, 82, 82, 0.3);
  background-color: #fff;
  color: #314755;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2222;
}

.mobile-nav .nav-brand {
  border: 0.3rem solid #314755;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.mobile-nav .nav-brand a {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  color: #314755;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.mobile-nav .nav-brand a:hover {
  color: sandybrown;
}

.mobile-nav .menu-icons i {
  font-size: 3rem;
  cursor: pointer;
  color: #314755;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.mobile-nav .menu-icons i:hover {
  color: sandybrown;
}

.mobile-nav .close {
  position: absolute;
  top: 2rem;
  left: 2.5rem;
}

.mobile-nav .close i {
  color: white;
}

.mobile-nav .nav-list {
  width: 100%;
  height: 100vh;
  background-color: rgba(49, 71, 85, 0.9);
  position: fixed;
  top: 0;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
  z-index: 2000;
}

.mobile-nav .nav-list .nav-item {
  margin: 2rem 0;
}

.mobile-nav .nav-list .nav-item .nav-link {
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.mobile-nav .nav-list .nav-item .nav-link:hover {
  color: sandybrown;
}

.mobile-nav .nav-list.active {
  right: 0;
}

.desktop-nav {
  display: none;
}

header {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
}

header .image-card {
  background: url("../../assets/image-card2.jpg") center no-repeat;
  width: 100%;
  height: 50vh;
  position: relative;
}

header .image-card .custom-shape-divider-bottom-1633085018 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

header .image-card .custom-shape-divider-bottom-1633085018 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 2rem;
}

header .image-card .custom-shape-divider-bottom-1633085018 .shape-fill {
  fill: white;
}

header .card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 0;
}

header .card-wrap .title-card {
  font-family: "montserrat", sans-serif;
  text-align: center;
  padding: 5rem;
  margin-bottom: 2rem;
}

header .card-wrap .title-card h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  color: #314755;
}

header .card-wrap .title-card h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: sandybrown;
  margin-bottom: 7rem;
}

header .card-wrap .title-card .media-card {
  text-align: center;
  font-size: 2.3rem;
}

header .card-wrap .title-card .media-card i {
  padding: 0 1.5rem;
  color: #314755;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

header .card-wrap .title-card .media-card i:hover {
  color: sandybrown;
}

header .card-wrap .link-card {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

header .card-wrap .link-card a {
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #314755;
  font-weight: bold;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

header .card-wrap .link-card a:hover {
  color: sandybrown;
}

.about-title {
  padding: 0 2rem 3rem 2rem;
  background-color: #fff;
  text-transform: uppercase;
  color: #314755;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.about-text {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  font-size: 1.6rem;
  color: #314755;
  line-height: 2.3rem;
}

.basic-information {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: #314755;
  font-size: 1.6rem;
  font-weight: bold;
}

.basic-information ul {
  margin-top: 2rem;
}

.basic-information ul li {
  text-transform: none;
  padding: 2rem 0;
  text-align: right;
  border-width: 100%;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid rgba(78, 78, 78, 0.2);
  font-weight: normal;
}

.basic-information ul li strong {
  text-transform: uppercase;
  float: left;
  color: sandybrown;
}

.service {
  margin-top: 1.5rem;
  text-transform: uppercase;
  color: #314755;
  font-size: 1.6rem;
  font-weight: bold;
}

.service span {
  margin-left: 2rem;
}

.service ul {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 35rem;
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 0.2rem;
  padding: 1rem 0;
}

.service ul li {
  padding: 0.5rem 0;
}

.service ul li i {
  font-size: 5rem;
  color: sandybrown;
}

.service ul li span {
  text-transform: none;
  font-size: 1.4rem;
  font-weight: normal;
}

.resume-title {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: #314755;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.experiences,
.formations,
.competences,
.languages {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: #314755;
  font-size: 1.6rem;
  font-weight: bold;
}

.experiences .skills-title,
.formations .skills-title,
.competences .skills-title,
.languages .skills-title {
  margin-top: 2rem;
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
}

.experiences .container-skills,
.formations .container-skills,
.competences .container-skills,
.languages .container-skills {
  width: 100%;
  background-color: #ddd;
  border-radius: 0.2rem;
}

.experiences .container-skills .skills,
.formations .container-skills .skills,
.competences .container-skills .skills,
.languages .container-skills .skills {
  text-align: right;
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0.3rem 0.1rem;
  background-color: sandybrown;
}

.experiences .container-skills .skills.html, .experiences .container-skills .skills.css,
.formations .container-skills .skills.html,
.formations .container-skills .skills.css,
.competences .container-skills .skills.html,
.competences .container-skills .skills.css,
.languages .container-skills .skills.html,
.languages .container-skills .skills.css {
  width: 80%;
  border-radius: 0.2rem;
}

.experiences .container-skills .skills.english,
.formations .container-skills .skills.english,
.competences .container-skills .skills.english,
.languages .container-skills .skills.english {
  width: 70%;
  border-radius: 0.2rem;
}

.experiences .container-skills .skills.symfony, .experiences .container-skills .skills.php, .experiences .container-skills .skills.javascript, .experiences .container-skills .skills.chinese,
.formations .container-skills .skills.symfony,
.formations .container-skills .skills.php,
.formations .container-skills .skills.javascript,
.formations .container-skills .skills.chinese,
.competences .container-skills .skills.symfony,
.competences .container-skills .skills.php,
.competences .container-skills .skills.javascript,
.competences .container-skills .skills.chinese,
.languages .container-skills .skills.symfony,
.languages .container-skills .skills.php,
.languages .container-skills .skills.javascript,
.languages .container-skills .skills.chinese {
  width: 60%;
  border-radius: 0.2rem;
}

.experiences .experience-card,
.formations .experience-card,
.competences .experience-card,
.languages .experience-card {
  margin-top: 2rem;
  text-align: center;
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 0.2rem;
  padding: 1rem;
  position: relative;
}

.experiences .experience-card::after,
.formations .experience-card::after,
.competences .experience-card::after,
.languages .experience-card::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 2rem;
  background-color: #314755;
  opacity: 0.3;
  bottom: -2rem;
}

.experiences .experience-card:last-child::after,
.formations .experience-card:last-child::after,
.competences .experience-card:last-child::after,
.languages .experience-card:last-child::after {
  display: none;
}

.experiences .experience-card li,
.formations .experience-card li,
.competences .experience-card li,
.languages .experience-card li {
  padding: 1rem 0;
}

.experiences .experience-card li strong,
.formations .experience-card li strong,
.competences .experience-card li strong,
.languages .experience-card li strong {
  color: sandybrown;
}

.experiences .experience-card li span,
.formations .experience-card li span,
.competences .experience-card li span,
.languages .experience-card li span {
  text-transform: none;
  font-size: 1.4rem;
  font-weight: normal;
}

.experiences .experience-card li .xp-date,
.formations .experience-card li .xp-date,
.competences .experience-card li .xp-date,
.languages .experience-card li .xp-date {
  font-size: 1.2rem;
  border-radius: 1rem;
  border: 0.1rem solid rgba(68, 68, 68, 0.3);
  padding: 0.5rem;
}

.works-title {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: #314755;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.works {
  margin-top: 1.5rem;
  text-transform: uppercase;
  color: #314755;
  font-size: 1.6rem;
  font-weight: bold;
}

.works .work-card {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 35rem;
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 0.2rem;
  padding: 1rem 0;
  position: relative;
}

.works .work-card::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 2rem;
  background-color: #314755;
  opacity: 0.3;
  bottom: -2rem;
}

.works .work-card:last-child::after {
  display: none;
}

.works .work-card img {
  width: 30rem;
  height: auto;
}

.works .work-card li {
  padding: 1rem 0;
}

.works .work-card li strong a {
  color: sandybrown;
}

.contact-form {
  margin-top: 1.5rem;
  padding: 0 2rem 3rem 2rem;
  text-transform: uppercase;
  color: #314755;
  font-size: 1.6rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #314755;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

input[type="submit"]:hover {
  background-color: sandybrown;
}

footer {
  background-color: #314755;
  font-family: "montserrat", sans-serif;
  width: 100%;
  min-height: 10vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  color: white;
  font-size: 1.4rem;
}

/* Petite tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    background-color: white;
    width: 60rem;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 7.4rem auto 0 auto;
    position: relative;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  header .image-card {
    background: url("../../assets/image-card2.jpg") center no-repeat;
    width: 100%;
    height: 50vh;
  }
  .section {
    width: 60rem;
    margin: 2rem auto;
    min-height: 30vh;
    background-color: #fff;
    border-radius: 0.3rem;
  }
  .section .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px solid rgba(143, 143, 143, 0.2);
  }
  .section .about .about-text,
  .section .about .basic-information {
    width: 30rem;
  }
  .section .about .about-text {
    border-right: 1px solid rgba(143, 143, 143, 0.2);
  }
  .section .service {
    margin-top: 2rem;
  }
  hr {
    display: none;
  }
}

/* Grande tablette & laptop */
@media screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
  body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body hr {
    display: none;
  }
  body .desktop-nav {
    margin-left: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    border-radius: 0.2rem;
    height: 5rem;
    width: 5rem;
    z-index: 5555555;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 650ms ease-in-out;
    transition: all 650ms ease-in-out;
  }
  body .desktop-nav .menu-icons.open-desktop i,
  body .desktop-nav .menu-icons.close-desktop i {
    font-size: 2rem;
    cursor: pointer;
    color: #314755;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  body .desktop-nav .menu-icons.open-desktop i:hover,
  body .desktop-nav .menu-icons.close-desktop i:hover {
    color: sandybrown;
  }
  body .desktop-nav .menu-icons.close-desktop {
    display: none;
  }
  body .desktop-nav .nav-list-desktop {
    width: 7rem;
    height: 40vh;
    background-color: white;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 100%;
    opacity: 0;
    -webkit-transition: all 650ms ease-in-out;
    transition: all 650ms ease-in-out;
    z-index: 2000;
    border-radius: 0.2rem;
  }
  body .desktop-nav .nav-list-desktop .nav-item {
    text-align: center;
    position: relative;
    height: 10vh;
    border-bottom: 1px solid rgba(49, 71, 85, 0.2);
  }
  body .desktop-nav .nav-list-desktop .nav-item:last-child {
    border-bottom: none;
  }
  body .desktop-nav .nav-list-desktop .nav-item .nav-link {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: "montserrat", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #314755;
    -webkit-transition: 350ms ease-in-out;
    transition: 350ms ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .desktop-nav .nav-list-desktop .nav-item .nav-link:hover {
    color: sandybrown;
  }
  body .desktop-nav .nav-list-desktop .nav-item .nav-link span {
    margin-top: 0.5rem;
    text-transform: initial;
    font-size: 1.1rem;
  }
  body .desktop-nav .nav-list-desktop.active-desktop {
    opacity: 1;
    bottom: -40.5vh;
  }
  body .desktop-nav.active-desktop-icon {
    top: 25%;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  body .desktop-nav.active-desktop-icon .open-desktop {
    display: none;
  }
  body .desktop-nav.active-desktop-icon .close-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header {
    padding: 0;
    margin: 0 0 0 12rem;
    width: 40rem;
    height: 100vh;
    border: none;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    -webkit-box-shadow: 0px 0px 4px 0px #575757;
    box-shadow: 0px 0px 4px 0px #575757;
    z-index: 11;
  }
  body header .image-card {
    background: url("../../assets/image-card2.jpg") center no-repeat;
    width: 100%;
    height: 50vh;
    border: none;
  }
  body .section {
    position: absolute;
    left: 52rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65rem;
    height: 95vh;
    padding: 0;
    margin: 0;
    -webkit-transition: all 650ms ease-out;
    transition: all 650ms ease-out;
    overflow: auto;
  }
  body .section::-webkit-scrollbar {
    width: 1rem;
    border-radius: 0.2rem;
  }
  body .section::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.2rem;
  }
  body .section::-webkit-scrollbar-thumb {
    background: #314755;
    border-radius: 0.5rem;
  }
  body .section::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 0.5rem;
  }
  .section.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 8;
  }
  .section.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-70%, 0, 0);
      transform: translate3d(-70%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-70%, 0, 0);
      transform: translate3d(-70%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-70%, 0, 0);
      transform: translate3d(-70%, 0, 0);
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-70%, 0, 0);
      transform: translate3d(-70%, 0, 0);
    }
  }
  footer {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */