/** GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");

/** import styles */
@import "./include/variables";
@import "./include/reset-styles";
@import "./include/nav";
@import "./include/header";
@import "./include/about";
@import "./include/resume";
@import "./include/works";
@import "./include/contact";
@import "./include/footer";
@import "./include/media-querys";
